<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
		    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="edu.cmu.one" level="DEBUG"/>
	<logger name="org.springframework.core" level="INFO"/>
	<logger name="org.springframework.beans" level="INFO"/>
	<logger name="org.springframework.context" level="INFO"/>
	<logger name="org.springframework.web" level="INFO"/>
	<logger name="org.springframework.test" level="INFO"/>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>