<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	
	<title>Tactic Dependencies</title>
  
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="stylesheets/foundation.css" />
	<link rel="stylesheet" href="stylesheets/app.css" />
	<link rel="stylesheet" href="stylesheets/force.css" />

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="stylesheets/ie.css" />
	<![endif]-->

	
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

	<!-- container -->
	<div class="container">
		
		<header class="row">
			<div class="twelve columns">
				<h2>Tactic</h2>
				<p>This is version 0.1 alpha on Nov 2011</p>
		
				<hr />
			</div>
		</header>
		
		<div class="row">
			<div class="twelve columns">
				<h3>Dependency Graph</h3>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<div class="panel">
					<div id="gchart"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<hr />
			</div>
		</div>
		<footer class="row">

	    	<section class="five columns">
	      		<h6><strong>ONE Network Engineering</strong></h6>
		</section>

	    	<section class="three columns">
	      		<h6><strong>Using Tactic?</strong></h6>
	    	</section>
	    
	    	<section class="four columns">
	      		<h6><strong>Need some help?</strong></h6>
	      		<p>For quick answers or help <a href="mailto:webmaster@theone.ece.cmu.edu">email us &rarr;</a></p>
	    	</section>
		</footer>
	</div>
	<!-- container -->

	<!-- Included JS Files -->
	<script src="javascripts/foundation.js"></script>
	<script src="javascripts/app.js"></script>
	<script src="javascripts/d3.js"></script>
	<script src="javascripts/d3.geom.js"></script>
	<script src="javascripts/d3.layout.js"></script>
	<script src="customjs/force.js"></script>

</body>
</html>